java Training/java/FindCategoryClient/WebContent/wsdl/AnimalTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jee.javapapers.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jee.javapapers.com" xmlns:intf="http://jee.javapapers.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jee.javapapers.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAnimalType">
    <complexType>
     <sequence>
      <element name="animal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAnimalTypeResponse">
    <complexType>
     <sequence>
      <element name="getAnimalTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAnimalTypeResponse">

      <wsdl:part element="impl:getAnimalTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAnimalTypeRequest">

      <wsdl:part element="impl:getAnimalType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AnimalTypeService">

      <wsdl:operation name="getAnimalType">

         <wsdl:input message="impl:getAnimalTypeRequest" name="getAnimalTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAnimalTypeResponse" name="getAnimalTypeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnimalTypeServiceSoapBinding" type="impl:AnimalTypeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAnimalType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnimalTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAnimalTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnimalTypeServiceService">

      <wsdl:port binding="impl:AnimalTypeServiceSoapBinding" name="AnimalTypeService">

         <wsdlsoap:address location="http://localhost:8080/FindCategoryClient/services/AnimalTypeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
